<% @title = @name %>

<div class="hero">
  <h1><code><%= @name %></code></h1>
  <p class="tagline">
    <%= @mod[:kind] == :dir ? "Package" : "Module" %>
    &middot; <%= @files.sum { |f| f[:decls].size } %> declarations
    &middot; <%= @files.size %> <%= @files.size == 1 ? "file" : "files" %>
  </p>
</div>

<% @files.each do |file| %>
  <% if file[:doc] && !file[:doc].empty? %>
    <div class="doc-block">
      <%= h(file[:doc]).gsub("\n", "<br>") %>
    </div>
  <% end %>

  <% unless file[:decls].empty? %>
  <section>
    <h3><%= file[:name] %>.mt</h3>
    <div class="table-wrap">
      <table class="attr-table">
        <tr><th>Kind</th><th>Name</th><th>Declaration</th></tr>
        <%
          top = file[:decls].select { |d| !d[:parent] }
          children = file[:decls].select { |d| d[:parent] }
          groups = children.group_by { |d| d[:parent] }
        %>
        <% top.each do |decl| %>
          <tr>
            <td><span class="kind-badge"><%= decl[:kind] %></span></td>
            <td><code><%= decl[:name] %></code></td>
            <td><code class="code-inline"><%= h(decl[:line]) %></code></td>
          </tr>
          <% (groups[decl[:name]] || []).each do |child| %>
            <tr class="meth-row">
              <td></td>
              <td><span class="meth-indent">&vellip;</span> <code><%= child[:name] %></code></td>
              <td><code class="code-inline"><%= h(child[:line]) %></code></td>
            </tr>
          <% end %>
        <% end %>
        <% (groups.keys - top.map { |t| t[:name] }).each do |orphan_parent| %>
          <% groups[orphan_parent].each do |child| %>
            <tr>
              <td><span class="kind-badge">func</span></td>
              <td><code><%= child[:name] %></code></td>
              <td><code class="code-inline"><%= h(child[:line]) %></code></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </section>
  <% end %>
<% end %>

<section>
  <h3>Source Code</h3>
  <div class="source-files">
    <% source_files = if @mod[:kind] == :dir
      @files.map { |f| [f[:name], "/stdlib/#{@name}/source/#{f[:name]}"] }
    else
      [[@name, "/stdlib/#{@name}/source/#{@name}"]]
    end %>
    <% source_files.each do |name, raw_path| %>
      <div class="source-file-group">
        <a href="<%= raw_path %>" class="source-link">&#128196; <%= name %>.mt</a>
        <% if snapshot_available? %>
          <a href="<%= raw_path %>/hl" class="source-link hl-link">&#128065; highlighted</a>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
