<% @title = @name %>

<div class="hero">
  <h1><code><%= @name %></code></h1>
  <p class="tagline">
    <%= @mod[:kind] == :dir ? "Package" : "Module" %>
    &middot; <%= @files.sum { |f| f[:decls].size } %> declarations
    &middot; <%= @files.size %> <%= @files.size == 1 ? "file" : "files" %>
  </p>
</div>

<% @files.each do |file| %>
  <% if file[:doc] && !file[:doc].empty? %>
    <div class="doc-block">
      <%= h(file[:doc]).gsub("\n", "<br>") %>
    </div>
  <% end %>

  <% unless file[:decls].empty?
    top = file[:decls].select { |d| !d[:parent] }
    children = file[:decls].select { |d| d[:parent] }
    groups = children.group_by { |d| d[:parent] }
    orphan_parents = groups.keys - top.map { |t| t[:name] }
  %>
  <section>
    <div class="section-header">
      <h3><%= file[:name] %>.mt</h3>
      <a href="/stdlib/<%= @name %>/source/<%= file[:name] %>" class="source-inline">source</a>
      <% if snapshot_available? %>
        <a href="/stdlib/<%= @name %>/source/<%= file[:name] %>/hl" class="source-inline hl-inline">highlighted</a>
      <% end %>
    </div>
    <div class="table-wrap">
      <table class="attr-table">
        <tr><th>Kind</th><th>Name</th><th>Declaration</th></tr>

        <% top.each do |decl| %>
          <tr id="d-<%= decl[:name] %>">
            <td><span class="kind-badge"><%= decl[:kind] %></span></td>
            <td>
              <code><%= decl[:name] %></code>
              <a href="#d-<%= decl[:name] %>" class="permalink" title="Permalink">&para;</a>
            </td>
            <td>
              <code class="code-inline"><%= h(decl[:line]) %></code>
              <% if decl[:doc] %>
                <div class="decl-doc"><%= h(decl[:doc]).gsub("\n", "<br>") %></div>
              <% end %>
            </td>
          </tr>
          <% (groups[decl[:name]] || []).each do |child| %>
            <tr class="meth-row" id="d-<%= child[:name] %>">
              <td></td>
              <td>
                <span class="meth-indent">&vellip;</span>
                <code><%= child[:name] %></code>
                <a href="#d-<%= child[:name] %>" class="permalink" title="Permalink">&para;</a>
              </td>
              <td>
                <code class="code-inline"><%= h(child[:line]) %></code>
                <% if child[:doc] %>
                  <div class="decl-doc"><%= h(child[:doc]).gsub("\n", "<br>") %></div>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>

        <% orphan_parents.each do |parent_name| %>
          <tr class="extend-header">
            <td colspan="3">
              <span class="extend-label">extending</span>
              <code><%= parent_name %></code>
            </td>
          </tr>
          <% groups[parent_name].each do |child| %>
            <tr class="meth-row" id="d-<%= child[:name] %>">
              <td></td>
              <td>
                <span class="meth-indent">&vellip;</span>
                <code><%= child[:name] %></code>
                <a href="#d-<%= child[:name] %>" class="permalink" title="Permalink">&para;</a>
              </td>
              <td>
                <code class="code-inline"><%= h(child[:line]) %></code>
                <% if child[:doc] %>
                  <div class="decl-doc"><%= h(child[:doc]).gsub("\n", "<br>") %></div>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </section>
  <% end %>
<% end %>
